<footer id="footer">
    <div class="top-footer">
        <div class="container">
            <a href="/" id="logo"><img src="/images/logo.png" alt="iAssistMD" /></a>
            <h6>Find Us</h6>
            <a href="https://goo.gl/maps/WwXXYdf4oQs" target="_blank">{{ site.address }}</a>
            <hr />
            <a href="tel:{{ site.phone }}" class="call"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>{{ site.phone }}</a>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <p class="left">
                &copy; 2017 All rights reserved to iAssistMD
            </p>
            <div class="right">
                <a href="{{ site.facebook.url }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>                
            </div>
        </div>
    </div>
</footer>